<div class="container">
  <div class="header-top">
    <div class="social-link">
      <div>
        <a href="">instagram</a>
      </div>
      <div>
        <a href="">fackbook</a>
      </div>
      <div>
        <a href="">Youtube</a>
      </div>
    </div>
  </div>
  <div class="navbar">
    <a class="logo" routerLink="/">BloodFinder</a>
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/search">Search</a>
    <a routerLink="/donate-blood">Donate Blood</a>
    <a routerLink="/contact">Contact</a>
    <a class="login" href="#donate-blood">Login</a>
  </div>
</div>
